{% extends 'headerPage.html' %}
     {% block content%}
         <div class="section-title" id="myform">
          <h2>Please Enter Details</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
         {% if covidval %}
                <script> window.location.href = "#myform" </script>

                <form method="post" enctype="multipart/form-data" action="updateCovidDatabase">
                    {% else %}
       <form method="post" enctype="multipart/form-data" action="predictCovidDisease">
            {% endif %}

     {% csrf_token %}
     <div class="form-row">
         <div class="col-md-4 form-group">      
             <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                Breathing Problem:
          <select name="BreathingProblemVal" id="BreathingProblemID" class="form-control">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
          <div class="validate"></div>
        </div>
        <div class="col-md-4 form-group">Fever:
          <select name="FeverVal" id="FeverID" class="form-control">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
          <div class="validate"></div>
        </div>
        <div class="col-md-4 form-group">Dry Cough:
          <select name="DryCoughVal" id="DryCoughID" class="form-control">
            <option value="1">Yes</option>
            <option value="0">False</option>
          </select>
          <div class="validate"></div>
        </div>
     </div>

     <div class="form-row">
        <div class="col-md-4 form-group">Sore Throat:
          <select name="SorethroatVal" id="SorethroatID" class="form-control">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
          <div class="validate"></div>
        </div>
        <div class="col-md-4 form-group">Running Nose:
          <select name="RunningNoseVal" id="RunningNoseID" class="form-control">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
          <div class="validate"></div>
        </div>
        <div class="col-md-4 form-group">Asthma:
          <select name="AsthmaVal" id="AsthmaID" class="form-control">
            <option value="1">Yes</option>
            <option value="0">False</option>
          </select>
          <div class="validate"></div>
        </div>
      </div>

     <div class="form-row">
        <div class="col-md-4 form-group">Headache:
          <select name="HeadacheVal" id="HeadacheID" class="form-control">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
          <div class="validate"></div>
        </div>
        <div class="col-md-4 form-group">Heart Disease:
          <select name="HeartDiseaseVal" id="HeartDiseaseID" class="form-control">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
          <div class="validate"></div>
        </div>
        <div class="col-md-4 form-group">Diabetes:
          <select name="DiabetesVal" id="DiabetesID" class="form-control">
            <option value="1">Yes</option>
            <option value="0">False</option>
          </select>
          <div class="validate"></div>
        </div>
      </div>


     <div class="form-row">
        <div class="col-md-4 form-group">Hypertension:
          <select name="HypertensionVal" id="HypertensionID" class="form-control">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
          <div class="validate"></div>
        </div>
        <div class="col-md-4 form-group">Fatigue:
          <select name="FatigueVal" id="FatigueID" class="form-control">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
          <div class="validate"></div>
        </div>
        <div class="col-md-4 form-group">Abroad Travel:
          <select name="AbroadTravelVal" id="AbroadTravelID" class="form-control">
            <option value="1">Yes</option>
            <option value="0">False</option>
          </select>
          <div class="validate"></div>
        </div>
      </div>

     <div class="form-row">
        <div class="col-md-4 form-group">Contact to Covid Patient:
          <select name="ContactCovidPatientVal" id="ContactCovidPatientID" class="form-control">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
          <div class="validate"></div>
        </div>
        <div class="col-md-4 form-group">Attended Large Gathering:
          <select name="AttendedLargeGatheringVal" id="AttendedLargeGatheringID" class="form-control">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
          <div class="validate"></div>
        </div>
        <div class="col-md-4 form-group">Visited Public Places:
          <select name="VisitedPublicVal" id="VisitedPublicID" class="form-control">
            <option value="1">Yes</option>
            <option value="0">False</option>
          </select>
          <div class="validate"></div>
        </div>
         <div class="col-md-4 form-group">Family Working in Public Areas:
          <select name="FamilyWorkingPublicVal" id="FamilyWorkingPublicID" class="form-control">
            <option value="1">Yes</option>
            <option value="0">False</option>
          </select>
          <div class="validate"></div>
        </div>
      </div>



        {%  if covidval  %}
         <h1>You are <i><u> {{covidval}} </u></i></h1>
            If the response is correct, please save it to the database by clicking the button below.
         <a href="/" class="navbar-brand"><i class="fa fa-h-square"></i>Predict Again</a>
         <input type="hidden" id="lname" name="covidVal" value={{predictedval}}>
         <input type="submit" value="Store to database" ></div>
         {% else%}
            <input type="submit" value="Submit" ></div>
         {% endif %}

<div class="row col-5">
  <h4 class="fw-bold text-center mt-3"></h4>
  <form class="px-4" action="">
    <p class="fw-bold">Choose one or more options</p>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
      <label class="form-check-label" for="flexCheckDefault">
        Option 1
      </label>
    </div>

    <!-- Checked checkbox -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
      <label class="form-check-label" for="flexCheckDefault">
        Option 2
      </label>
    </div>

    <!-- Checked checkbox -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
      <label class="form-check-label" for="flexCheckDefault">
        Option 3
      </label>
    </div>
  </form>
  <div class="card-footer text-end">
    <button type="button" class="btn btn-primary">Submit</button>
  </div>
</div>


        </form>
        <br>
     {% endblock %}
